@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fade {
   transition: opacity 0.25s ease, transform 0.25s ease;
   cursor: pointer
}


.fade.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.scrollbar::-webkit-scrollbar {
  @apply w-[3px]
}

.scrollbar::-webkit-scrollbar-thumb {
@apply bg-black w-full rounded
}